$tablet-width: 768px;
$tablet-horizontal: 992px;

@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$tablet-horizontal - 1px}) {
        @content;
    }
}

@mixin mobile {
    @media(max-width: #{$tablet-width - 1px}) {
        @content;
    }
}

.fade {
    transition: opacity .15s linear;
}

.login-sapo {
    border-top: 1px solid #efefef;
    padding: 99px 0 14px;
    text-align: center;
    position: relative;
    @include tablet {
        padding: 40px 0 14px;
    }
    @include mobile {
        padding: 40px 0 0;
    }

    h1 {
        font-size: 42px;
        font-weight: 300;
        color: #000;
        margin: 0 0 13px;
        @include tablet {
            font-size: 36px;
        }
        @include mobile {
            font-size: 28px;
            line-height: normal;
        }
    }

    p {
        font-size: 20px;
        font-weight: 300;
        margin-bottom: 48px;
        color: #42464e;
        @include mobile {
            font-size: 18px;
            margin-bottom: 30px;
        }
    }

    .login-channel {
        @include tablet {
            margin: 0 0 30px;
        }
        @include mobile {
            margin-bottom : 30px;
        }

        .image {
            height: 82px;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            margin: 0 0 27px;
            @include mobile {
                margin: 0;
            }
        }

        .btn-registration {
            font-size: 16px;
            font-weight: 400;
            width: 180px;
            padding: 0 10px;
            height: 45px;
            line-height: 45px;
            outline: none;
            background-image: -moz-linear-gradient(0deg,#2ad38c 0%,#0cceb0 100%);
            background-image: -webkit-linear-gradient(0deg,#2ad38c 0%,#0cceb0 100%);
            background-image: -ms-linear-gradient(0deg,#2ad38c 0%,#0cceb0 100%);
        }
    }

    .scroll-down {
        position: absolute;
        bottom: -80px;
        left: 50%;
        transform: translateX(-50%);
        text-decoration: none;
    }
}

.affiliate {
    background: url(../img/login-page/bg-page.jpg) no-repeat bottom center;
    padding: 206px 0 217px;
    @include tablet {
        background: #eef7ff;
        padding: 60px 0;
    }
    @include mobile {
        background: #eef7ff;
        padding: 40px 0;
    }

    p {
        color: #000;
        font-weight: 300;
        font-size: 20px;
        line-height: 1.2;
        margin: 0 0 15px;
        @include tablet {
            font-size: 18px;
            line-height: 1.2;
        }
        @include mobile {
            font-size: 18px;
            line-height: 1.2;
        }
    }

    h2 {
        font-size: 32px;
        font-weight: bold;
        color: #2f9dff;
        line-height: 1.2;
        margin: 0 0 88px;
        @include tablet {
            margin: 0 0 30px;
        }
        @include mobile {
            margin: 0 0 30px;
            font-size: 26px;
        }
    }

    .block-content {
        p {
            line-height: 32px;
            margin: 0 0 15px;
            @include tablet {
                line-height: 1.2;
            }
            @include mobile {
                line-height: 1.2;
            }
        }

        .price {
            text-transform: uppercase;
            font-size: 21px;
            line-height: 1.2;
            color: #2f9dff;
            font-weight: bold;
            margin: 0 0 45px;
            @include tablet {
                font-size: 20px;
                margin: 0 0 30px;
            }
            @include mobile {
                font-size: 18px;
                margin: 0 0 10px;
            }

            span {
                display: block;
                text-transform: initial;
                font-weight: 900;
                font-size: 82px;
                line-height: 1;
                letter-spacing: 4px;
                margin: 0 0 10px;
                @include tablet {
                    font-size: 70px;
                }
                @include mobile {
                    font-size: 50px;
                }
            }
        }

        .btn-registration {
            height: 60px;
            line-height: 60px;
            width: 230px;
            font-size: 20px;
            font-weight: bold;
            color: #fff;
            text-align: center;
            @include mobile {
                height: 45px;
                line-height: 45px;
                width: auto;
                padding: 0 40px;
                font-size: 18px;
            }
        }
    }
}