<!--  Start footer  -->
<div id="footer" class="footer">
    <div class="footer-menu">
        <div class="container">
            <div class="row">
                <div class="col-lg col-md-4 col-6">
                    <div class="title">Sapo.vn</div>
                    <ul>
                        <li>
                            <a href="#">Về chúng tôi</a>
                        </li>
                        <li>
                            <a href="#">Sapo là gì ?</a>
                        </li>
                        <li>
                            <a href="#">Bảng giá</a>
                        </li>
                        <li>
                            <a href="#" rel="noopener">Kho giao diện</a>
                        </li>
                        <li>
                            <a href="#" rel="noopener">Kho ứng dụng web</a>
                        </li>
                        <li>
                            <a href="#" rel="noopener">Tuyển dụng</a>
                        </li>
                        <li>
                            <a href="#">Profile</a>
                        </li>

                    </ul>
                </div>
                <div class="col-lg col-md-4 col-6">
                    <div class="title">Kênh bán hàng</div>
                    <ul>
                        <li>
                            <a href="#" rel="dofollow">Bán hàng tại cửa hàng</a>
                        </li>
                        <li>
                            <a href="#" rel="nofollow">Bán hàng trên website</a>
                        </li>
                        <li>
                            <a href="#">Bán hàng trên Facebook</a>
                        </li>
                        <li>
                            <a href="#">Bán hàng trên Lazada</a>
                        </li>
                        <li>
                            <a href="#">Bán hàng đa kênh Omnichannel</a>
                        </li>
                        <li>
                            <a href="#">Bán hàng trên Shopee</a>
                        </li>
                        <li>
                            <a href="#">Bán hàng trên Sendo</a>
                        </li>
                        <li>
                            <a href="#">Bán hàng trên Tiki</a>
                        </li>
                    </ul>
                </div>
                <hr style="border-top-color: #2b2a32; width: 100%; margin: 25px 0 30px;" class="d-block d-md-none">
                <div class="col-lg col-md-4 col-6">
                    <div class="title"><a href="#">Thiết kế website bán hàng</a></div>
                    <ul>
                        <li>
                            <a href="#" rel="dofollow">Thiết kế web thương mại điện tử</a>
                        </li>
                        <li>
                            <a href="#" rel="dofollow">Thiết kế web thời trang</a>
                        </li>
                        <li>
                            <a href="#" rel="dofollow">Thiết kế web mỹ phẩm</a>
                        </li>
                        <li>
                            <a href="#" rel="dofollow">Thiết kế web doanh nghiệp</a>
                        </li>
                        <li>
                            <a href="#" rel="dofollow">Thiết kế website bất động sản</a>
                        </li>
                        <li>
                            <a href="#" rel="dofollow">Thiết kế website trọn gói</a>
                        </li>
                        <li>
                            <a href="#" rel="dofollow">Thiết kế website chuẩn SEO</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg col-md-4 col-6">
                    <div class="title"><a href="#">Quản lý bán hàng</a></div>
                    <ul>
                        <li>
                            <a href="#">Cửa hàng thời trang</a>
                        </li>
                        <li>
                            <a href="#">Cửa hàng tạp hoá</a>
                        </li>
                        <li>
                            <a href="#">Siêu thị mini</a>
                        </li>
                        <li>
                            <a href="#">Cửa hàng mỹ phẩm</a>
                        </li>
                    </ul>
                </div>
                <hr style="border-top-color: #2b2a32; width: 100%; margin: 25px 0 30px;" class="d-block d-md-none">
                <div class="col-lg col-md-4 col-6">
                    <div class="title">Hợp tác</div>
                    <ul>
                        <li>
                            <a href="#" rel="nofollow">Chương trình đối tác</a>
                        </li>
                        <li>
                            <a href="#" rel="nofollow">Nhà phát triển ứng dụng</a>
                        </li>
                        <li>
                            <a href="#" rel="nofollow">Dành cho nhà thiết kế</a>
                        </li>
                        <li>
                            <a href="#" rel="nofollow">Dành cho nhà đầu tư</a>
                        </li>
                        <li>
                            <a href="#">Thiết kế website miễn phí</a>
                        </li>
                        <li>
                            <a href="#" rel="nofollow">Chương trình đại lý</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg col-md-4 col-6 d-block d-lg-none">
                    <div class="title">Trợ giúp</div>
                    <ul>
                        <li>
                            <a href="#" rel="noopener">Trung tâm trợ giúp</a>
                        </li>
                        <li>
                            <a href="#" rel="noopener">Tài liệu nhà phát triển</a>
                        </li>
                        <li>
                            <a href="#" rel="nofollow">Hình thức thanh toán</a>
                        </li>
                        <li>
                            <a href="#" rel="nofollow">Hướng dẫn đăng nhập Sapo</a>
                        </li>
                        <li>
                            <a href="#" rel="noopener">Blog Sapo</a>
                        </li>
                        <li>
                            <a href="#" rel="nofollow">SEO Sapo Web</a>
                        </li>
                        <li>
                            <a href="#" rel="nofollow">Quy định sử dụng</a>
                        </li>
                        <li>
                            <a href="#" rel="nofollow">Chính sách bảo mật</a>
                        </li>
                        <li>
                            <a href="#">Liên hệ</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-address">
        <div class="container">
            <div class="row">
                <div class="col-w-20 col-md-4 d-lg-block d-none">
                    <div class="title">Trợ giúp</div>
                    <ul>
                        <li>
                            <a href="#" rel="noopener">Trung tâm trợ giúp</a>
                        </li>
                        <li>
                            <a href="#" rel="noopener">Tài liệu nhà phát triển</a>
                        </li>
                        <li>
                            <a href="#" rel="nofollow">Hình thức thanh toán</a>
                        </li>
                        <li>
                            <a href="#" rel="nofollow">Hướng dẫn đăng nhập Sapo</a>
                        </li>
                        <li>
                            <a href="#" rel="noopener">Blog Sapo</a>
                        </li>
                        <li>
                            <a href="#" rel="nofollow">SEO Sapo Web</a>
                        </li>
                        <li>
                            <a href="#" rel="nofollow">Quy định sử dụng</a>
                        </li>
                        <li>
                            <a href="#" rel="nofollow">Chính sách bảo mật</a>
                        </li>
                        <li>
                            <a href="#">Liên hệ</a>
                        </li>
                    </ul>
                </div>
                <div class="col-w-20 col-md-4">
                    <div class="title">Dịch vụ</div>
                    <ul>
                        <li>
                            <a href="#">Đăng kí tên miền</a>
                        </li>
                        <li>
                            <a href="#">Email doanh nghiệp</a>
                        </li>
                        <li>
                            <a href="#" rel="noopener">Dịch vụ support</a>
                        </li>
                        <li>
                            <a href="#">Dịch vụ chiến lược nội dung</a>
                        </li>
                        <li>
                            <a href="#">Dịch vụ chăm sóc nội dung</a>
                        </li>
                    </ul>
                    <div class="title shared-experience">
                        <a href="#" rel="noopener">Thiết bị bán hàng</a>
                    </div>
                    <ul>
                        <li>
                            <a href="#" rel="noopener">Máy in hóa đơn</a>
                        </li>
                        <li>
                            <a href="#" rel="noopener">Máy in mã vạch</a>
                        </li>
                        <li>
                            <a href="#" rel="noopener">Máy quét mã vạch</a>
                        </li>
                    </ul>

                </div>

                <div class="col-w-60 col-md-8">
                    <div class="title">Liên hệ</div>
                    <ul class="social">
                        <li>
                            <a href="#" rel="noopener" aria-label="Facebook"><i
                                    class="fa fa-facebook-square"></i></a>
                        </li>
                        <li>
                            <a href="#" rel="noopener" aria-label="Youtube"><i
                                    class="fa fa-youtube"></i></a>
                        </li>
                        <li>
                            <a href="#" rel="noopener" aria-label="Blog sapo"><i
                                    class="fa fa-weixin"></i></a>
                        </li>
                    </ul>
                    <div class="contact-info">
                        <p class="text-uppercase">Công ty cổ phần công nghệ Sapo (Sapo Technology JSC)</p>
                        <p><span>Trụ sở <i class="fa fa-map-marker"></i> </span>Tầng 6 - Tòa nhà Ladeco - 266 Đội
                            Cấn - Phường Liễu Giai - Quận Ba Đình - TP Hà Nội</p>
                        <p>
                            <span class="d-xl-inline d-block">Chi nhánh </span><i class="fa fa-map-marker"></i> Lầu
                            3 - Tòa nhà Lữ Gia - Số 70 Lữ Gia - Phường 15 - Quận 11 - TP Hồ Chí Minh
                        </p>
                        <p>
                            <span style="visibility: hidden" class="d-none d-xl-inline">Chi nhánh </span><i
                                class="fa fa-map-marker"></i> Số 124 - Đường Lê Đình Lý - Phường Vĩnh Trung - Quận
                            Thanh Khê - TP Đà Nẵng
                        </p>
                        <p>
                            <span style="visibility: hidden" class="d-none d-xl-inline">Chi nhánh </span><i
                                class="fa fa-map-marker"></i> Số 127 - Đường Lý Thường Kiệt - Phường Lê Lợi - TP
                            Vinh - Tỉnh Nghệ An
                        </p>
                        <p><strong>Tổng đài tư vấn và hỗ trợ khách hàng: </strong><b>1800 6750</b></p>
                        <p><span>Email: </span><b>support@sapo.vn</b></p>
                        <p>Từ 8h00 – 22h00 các ngày từ thứ 2 đến Chủ nhật</p>
                    </div>
                    <a href="#" rel="noopener" class="footer-bct-hanggia">
                        <img src="./img/footer/bct-hanggia.png"
                             alt="Chứng nhận nói không với hàng giả - Bộ Công Thương" class="fade show">
                    </a>
                    <a href="#" rel="noopener" class="footer-bct">
                        <img src="./img/footer/bocongthuong.png" alt="Chứng nhận Bộ Công Thương" class="fade show">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-6 order-md-1 order-3">
                    <p class="copyright"><span class="d-none d-lg-inline-block">Copyright © 2020&nbsp;</span><a
                            href="https://www.sapo.vn" rel="noopener">Sapo.vn</a> - Nền tảng quản lý
                        và bán hàng đa kênh được sử dụng nhiều nhất Việt Nam</p>
                </div>
                <hr style="border-top-color: #2b2a32; width: 100%;margin:0;" class="d-block d-sm-none order-2">
                <div class="col-lg-5 col-md-6 order-md-2 order-1">
                    <p class="achievement">
                        <span>Sản phẩm đạt giải: <br class="d-block d-lg-none">Nhân tài Đất Việt 2013 &amp; Sao Khuê  2015</span>
                        <span class="icon-achievement"><img src="./img/footer/icon-cup.png"
                                                            data-src="/Themes/Portal/Default/Styles_New/images/icon-cup.png"
                                                            alt="Giải thưởng" class="fade show"></span>
                    </p>
                </div>
            </div>
        </div>
        <p class="copyright-mobile d-lg-none d-md-block d-none">© Copyright 2008 - 2020</p>
    </div>
</div>
<!--  End footer  -->